Package: Helloworld
Version: 1.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: sunilsharma.pv@gmail.com
Description: Prints "Hello World!!" on the screen
